// scss全局变量

// 左侧菜单的宽度
$base-menu-width: 260px;
// 左侧菜单的背景颜色
$base-menu-bg: #001529;
// 顶部导航的高度
$base-tabbar-height: 50px;
// logo的高度
$base-menu-logo-height: 50px;
// logo文字大小
$base-logo-title-fontsize: 20px;
// 左侧菜单折叠的宽度
$base-menu-min-width: 50px;